@media only screen and (max-width: 10002px) { /* preventing insane zooming */
       
    .skills{
    width: 50%;
    }
}

@media only screen and (max-width: 2902px) { /* preventing insane zooming */
       
    .skills{
    width: 70%;
    }
}


@media only screen and (max-width: 1920px) {
      
 .skills{
    width: 100%;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {

    .hex-image {
        width: 250px;
    }

}

@media only screen and (max-width: 320px) {}



 .skill-box:nth-child(1) {
        background-image: url(../images/cpp.png);
        height: 1496px;
        min-height: 1496px;
    }

    .skill-box:nth-child(1) .hex-box {
        padding-top: 400px
    }

    /* ****** */
    .skill-box:nth-child(2) {
        background-image: url(../images/jar.png);
        height: 1736px;
        margin-top: -300px;
    }

    .skill-box:nth-child(2) .hex-box {
        padding-top: 300px
    }

    /* ****** */
    .skill-box:nth-child(3) {
        background-image: url(../images/php.png);
        height: 1584px;
        margin-top: -800px;
    }

    .skill-box:nth-child(3) .hex-box{
        padding-top: 500px
    }


    /* ****** */
    .skill-box:nth-child(4) {
        background-image: url(../images/html.png);
        height: 1797px;
        margin-top: -300px;
    }

    .skill-box:nth-child(4) .hex-box {
        padding-top: 300px
    }


    /* ****** */
    .skill-box:nth-child(5) {
        background-image: url(../images/sql.png);
        height: 1429px;
        margin-top: -700px;
    }

    .skill-box:nth-child(5) .hex-box {
        padding-top: 600px
    }

    /* ****** */
    .skill-box:nth-child(6) {
        background-image: url(../images/py.png);
        height: 1429px;
        margin-top: -100px;
    }

    .skill-box:nth-child(6) .hex-box {
        padding-top: 350px
    }

    /* ****** */
    .skill-box:nth-child(7) {
        background-image: url(../images/net.png);
        height: 1529px;
        margin-top: -300px;
    }

    .skill-box:nth-child(7) .hex-box {
        padding-top: 550px
    }

    /* ****** */
    .skill-box:nth-child(8) {
        background-image: url(../images/end.png);
        height: 1529px;
        margin-top: -300px;
    }

    .skill-box:nth-child(8) .hex-box {
        padding-top: 300px
    }